{% extends 'layout.html' %}

{% block body %}
<br />
<br />

<form method="POST" action="">
  <h1>{{owner.full_name}}
    {% if enable_Follow==0 %}
    <input type="submit" name="Follow" value="Follow" disabled>
    {% elif enable_Follow==1 %}
    <input type="submit" name="Follow" value="Follow">
    {% elif enable_Follow==2 %}
    <input type="submit" name="Follow" value="unFollow">
    {% endif %}
    <font size="3">{{category.category}}</font>
    <h1>
      <h1>
        <font size="4">{{category.title}}
      </h1>
      <h1>
        <font size="2">Last Updated {{date_updated.pushpin_date}}</font>

        {% if enable_addpushpin==0 %}
        <input type="submit" name="Addpushpin" value="Add Pushpin" disabled>
        {% elif enable_addpushpin==1 %}
        <input type="submit" name="Addpushpin" value="Add Pushpin">
        {% endif %}

        <h1>
          <tr>
            {% for image in images %}
            <td><a href="{{ url_for('pushpin', pushpinID = image.pushpinID)}}"><img src={{image.url}} alt="user image" style="width:10%"></a></td>
            {% endfor %}
          </tr>
          <h1>
            <font size="2"> This Corkboard has {{num_watchers.Count}} watchers.</font>

            {% if enable_Watch==0 %}
            <input type="submit" name="Watch" value="Watch" disabled>
            {% elif enable_Watch==1 %}
            <input type="submit" name="Watch" value="Watch">
            {% elif enable_Watch==2 %}
            <input type="submit" name="Watch" value="unWatch">
            {% endif %}


          </h1>
</form>
{% endblock %}